*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.footer{
    flex-direction: row;
    
    
}

.container{
    align-items: center;
    justify-content: center;
    font-size: x-small;
}