
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav{
    background: transparent;
    margin-bottom: 100;
    z-index: 1000;
}
.nav.active{
    background: #238275;
}
.menu{
    color:  #fc7323;

}

.logoscorporativos{
    margin: 1rem;
}
.redes{
    display: block;
    flex-direction: column;
    justify-content: flex-end;   
}    

.col{
    justify-content: flex-end;
}