
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cuerpo{
    margin-bottom: 100;
    z-index: 1000;
}
.menu{
    color:  #fc7323;

}

.logoscorporativos{
    margin: 1rem;
}
.redes{
    display: block;
    flex-direction: column;
    justify-content: flex-end;   
}    
.logosredes{
    width: 50px;
}

.col{
    justify-content: flex-end;
}