
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
    padding: 1rem 1rem;
    display: inline-flex;
    min-width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    
}
.menu{
    flex-grow: 4;
    color:  #fc7323;
}

.logoscorporativos{
    width: 75px;
    margin: 1rem;
}
.redes{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.redes ul{
    flex-direction: column;
}
.logosr{
    display:flex;
    
}
.logosredes{
    width: 50px;
}
.init{
    padding: 16px;
}