@import-normalize;

.Site-content{
  font-family: Verdana;
display: flex;
flex-direction: column;
min-height: 100vh;
}
.App-header{
  padding: 1rem 1rem;
display: inline-flex;
min-width: 100%;
position: fixed;
left: 0;
top: 0;
align-items: center;
background-color: #fff7ef;
}